<section class="hero is-primary is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title is-1">Welcome To Pantry!</h1>
      <h2 class="subtitle is-3">Stock your pantry with amazing local products!</h2>
      <%= link_to "Browse all products", products_path, class: "button is-large is-link" %>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="title is-2">Featured Products</h2>
    <div class="columns is-multiline">
      <% @featured_products.each do |product| %>
        <div class="column is-one-quarter">
          <%= render partial: "products/product", locals: { product: product, show_name: true } %>
        </div>
      <% end %>
    </div>
  </div>
</section>